

#slider {
  -webkit-appearance: none;
  width: 10%;
  height: 15px;
  border-radius: 5px; 
  background: #ECE8D0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3B6E8B;
  /* cursor: pointer; */
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3B6E8B;
  /* cursor: pointer; */
}

#slider2 {
  -webkit-appearance: none;
  width: 10%;
  height: 15px;
  border-radius: 5px; 
  background: #ECE8D0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#slider2:hover {
  opacity: 1;
}

#slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3B6E8B;
  /* cursor: pointer; */
}

#slider2::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3B6E8B;
  /* cursor: pointer; */
}

.grid-select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;  
  padding: 10px;
}

.grid-select > div {  
  text-align: center;
  padding: 5px;
  font-size: 30px;
}

.grid-guide{
  display: grid;
  grid-template-columns: 1fr;
}

.grid-intro{
  display: grid;
  grid-template-columns: 1fr;
}